# ======================
# Python 캐시 파일 무시
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# 가상 환경 폴더 무시
# ======================
env/
venv/
.venv/

# ======================
# IDE 설정파일 무시
# ======================
.idea/
.vscode/

# ======================
# DB, 데이터셋, 체크포인트 등 무시
# ======================
*.db
*.sqlite3
data/
datasets/
checkpoints/
weights/

# ======================
# Git 관련 폴더 무시
# ======================
.git/

# ======================
# 테스트용파일
# ======================
.localtest.run/
recorder_service/
README.MD
STUDYME/


